<div class="experiences">
  <div class="experience-title">
    <h4>EXPERIENCE</h4>
  </div>
  <div class="items">
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>June - July 2017</h4>
        </div>
        <div class="item_point">
          <h5>Salesman</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>DALTON PHARMACY</h4>
          <p class="plus-1">plus ...</p>
        </div>
        <div class="item_description_1 no-display">
          <span>Sales assistant in an pharmacy to improve my English skills.
          I lived for one month with an host family and I have been taking
          English classes for two weeks.
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>Since 2018</h4>
        </div>
        <div class="item_point">
          <h5>Host to Manager</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>TRINITY & SAMSIC</h4>
          <p class="plus-2">plus ...</p>
        </div>
        <div class="item_description_2 no-display">
          <span>Since 2018 – Hosting guests on prestigious sites such as the
            Salles Pleyel or Parisian palaces. Furthermore, at the end of the
            lockdown, dDistribution of hydroalcoholic gel in the major Parisian
            stations in the context of compliance with post-confinement barrier
            gestures. Media coverage of the event, including television
            appearances (TF1's 8pm news), newspaper articles (Le Parisien) and
            demonstration of the service to Transport Minister Elisabeth Borne
            and RATP Director Catherine Guillouard. These experiences allowed me
            to become manager of a team of 10 people for the six nations rugby
            tournament
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>April - July 2019</h4>
        </div>
        <div class="item_point">
          <h5>Accounting assistant</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>JLA</h4>
          <p class="plus-3">plus ...</p>
        </div>
        <div class="item_description_3 no-display">
          <span>Mission : In charge of client follow-up and creating the client
          annual balance sheet. This allowed me to apply my knowledge in
          accounting, taxation and financial analysis. In addition, I was able
          to acquire legal, social and IT skills by working with the different
          people in the company.
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>July 2019</h4>
        </div>
        <div class="item_point">
          <h5>Animator</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>UCPA</h4>
          <p class="plus-4">plus ...</p>
        </div>
        <div class="item_description_4 no-display">
          <span>July 2019 – Animator in summer camp, to obtain the BAFA
            (Certificate of Aptitude for Animator’s Function). Supervision
            of children from 6 to 17 years old over two weeks
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>Since 2019</h4>
        </div>
        <div class="item_point">
          <h5>Tutor</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>PARKOURS</h4>
          <p class="plus-5">plus ...</p>
        </div>
        <div class="item_description_5 no-display">
          <span>Academic tutor of several groups of college students over the
            2018-2019 school year, at Passy-Buzenval College.
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2020</h4>
        </div>
        <div class="item_point">
          <h5>Salesman</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>BAZIERE BUTCHERY</h4>
          <p class="plus-6">plus ...</p>
        </div>
        <div class="item_description_6 no-display">
          <span>Academic tutor of several groups of college students over the
            2018-2019 school year, at Passy-Buzenval College.
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2021</h4>
        </div>
        <div class="item_point">
          <h5>Volunteer</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>CHILDREN OF THE MEKONG</h4>
          <p class="plus-7">plus ...</p>
        </div>
        <div class="item_description_7 no-display">
          <span>Fundraising campaign in 2018 to sponsor East Asian teenagers so
            that they can go to school. I also have the opportunity to work for
            1 month in london. I had to manage the shop with three other
            volunteers (stock, event, etc..)
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2021</h4>
        </div>
        <div class="item_point">
          <h5>FinOPs</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>SKALE-5</h4>
          <p class="plus-8">plus ...</p>
        </div>
        <div class="item_description_8 no-display">
          <span>Fundraising campaign in 2018 to sponsor East Asian teenagers so
            that they can go to school. I also have the opportunity to work for
            1 month in london. I had to manage the shop with three other
            volunteers (stock, event, etc..)
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

