<div class="hobbies">
  <div class="hobbies-title">
    <h4>HOBBIES</h4>
  </div>
  <div class="activities">
    <div class="activity tennis">
      <%= image_tag "tennis.png", class: "hobby-image" %>
    </div>
    <div class="activity run">
      <%= image_tag "run.png", class: "hobby-image" %>
    </div>
    <div class="activity rugby">
      <%= image_tag "rugby.png", class: "hobby-image" %>
    </div>
    <div class="activity web">
      <%= image_tag "web.png", class: "hobby-image" %>
    </div>
    <div class="activity social">
      <%= image_tag "social.png", class: "social-image hobby-image" %>
    </div>
    <div class="activity travel">
      <%= image_tag "travel.png", class: "hobby-image" %>
    </div>
  </div>
</div>
