<div class="hobbies">
  <div class="hobbies-title">
    <h4>HOBBIES</h4>
  </div>
  <div class="activities">
    <div class="activity">
      <div class="tennis">
        <%= image_tag "tennis.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Tennis</p>
    </div>
    <div class="activity">
      <div class="run">
        <%= image_tag "run.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Run</p>
    </div>
    <div class="activity">
      <div class="rugby">
        <%= image_tag "rugby.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Rugby</p>
    </div>
    <div class="activity">
      <div class="web">
       <%= image_tag "web.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Web Development</p>
    </div>
    <div class="activity">
      <div class="social">
        <%= image_tag "social.png", class: "social-image hobby-image" %>
      </div>
      <p class="activity-name">Social activities</p>
    </div>
    <div class="activity">
      <div class="travel">
        <%= image_tag "travel.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Travelling & discovering</p>
    </div>
  </div>
</div>
