<div class="educations">
  <div class="education-title">
    <h4>EDUCATION</h4>
  </div>
  <div class="items">
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2011 - 2018</h4>
        </div>
        <div class="item_point">

        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>PASSY-BUZENVAL</h4>
          <%= image_tag "plus.png", class: "minus plus-9" %>
          <div class="item-image">
            <%= image_tag "passy.png", class: "item-image-rectangle" %>
          </div>
        </div>
        <div class="item_description_9 no-display">
          <span></span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2018 -2023</h4>
        </div>
        <div class="item_point">
          <h5>Audit Master Degree</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>ESSCA</h4>
          <%= image_tag "plus.png", class: "minus plus-10" %>
          <div class="item-image">
            <%= image_tag "essca.png", class: "item-image-square" %>
          </div>
        </div>
        <div class="item_description_10 no-display">
          <span>ESSCA is a french business school, quadruple-accredited
            (AACSB, EPAS, EQUIS & AMBA -- Less than 1% of business schools
            worldwide are accredited) Ranked "49th Master of Management
            worldwide" by Financial Time's in 2016, it is also ranked as the
            best French business school in 5 years by the reference magazine,
            Challenges in 2019. Founded in 1909 in Angers, ESSCA now has
            campuses in Paris, Aix-en-Provence, Bordeaux, Lyon, Budapest and
            Shanghai
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item_key">
        <div class="item_date">
          <h4>2021</h4>
        </div>
        <div class="item_point">
          <h5>Web Developer</h5>
        </div>
      </div>
      <%= image_tag "dot.png", class: "dot" %>
      <div class="item_value">
        <div class="item_name">
          <h4>LE WAGON</h4>
          <%= image_tag "plus.png", class: "minus plus-11" %>
          <div class="item-image">
            <%= image_tag "le-wagon.png", class: "item-image-rectangle" %>
          </div>
        </div>
        <div class="item_description_11 no-display">
          <span> A well-know web developer formation which teach From database
            to user interface, learn all the skills of a web developer and code
            your own web applications independently
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
