<div class="educations">
  <div class="education-title">
    <h4>EDUCATION</h4>
  </div>
  <div class="items">
  </div>
  <div id="timeline">
    <!-- start education section-->
    <div class="tl-item">
      <div class="tl-bg" style="background-image: url(<%= image_path "passy.jpg" %>)"></div>

      <div class="tl-year">
        <p class="tl-title f2 heading--sanSerif">2011 - 2018</p>
      </div>

      <div class="tl-content">
        <h1>PASSY-BUZENVAL</h1>
        <p>La Salle - Passy Buzenval is a public school associated with the State by contract, under the supervision of the Brothers of the Christian Schools (Lasallian network). It is the result of the merger in 1960 of Saint-Nicolas de Buzenval and Passy-Froyennes. Located in the commune of Rueil-Malmaison, in the Hauts-de-Seine department.
          <br>
          scientific baccalaureate with honours
        </p>
        <div class="logo-item-rectangle" style="background-image: url(<%= image_path "passy_logo.png" %>)"></div>
      </div>
    </div>
    <!-- end education section-->

    <!-- start education section-->
    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(<%= image_path "essca.jpg" %>)"></div>
        <div class="tl-year">
          <p class="tl-title f2 heading--sanSerif">2018 - 2023</p>
        </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">ESSCA BUSINESS SCHOOL</h1>
        <p>ESSCA is a quadruple accredited business school (AACSB, EPAS, EQUIS & AMBA)
        Ranked "49th Master of Management worldwide" by Financial Time's in 2016, it was also ranked best French business school in 5 years by the leading magazine, Challenges in 2019.
        Created in 1909 in Angers, ESSCA now has campuses in Paris, Aix-en-Provence, Bordeaux, Lyon, Budapest and Shanghai.</p>
        <div class="logo-item" style="background-image: url(<%= image_path "essca_logo.png" %>)"></div>
      </div>
    </div>
    <!-- end education section-->

    <!-- start education section-->
    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(<%= image_path "le_wagon.jpg" %>)"></div>

      <div class="tl-year">
        <p class="tl-title f2 heading--sanSerif">2020</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">LE WAGON</h1>
        <p>In 9 weeks of intensive training, learn all the skills of a junior web developer to progress in your job or change career. RNCP level 6 certification training (equivalent to Bac+3/4).
        From database to user interface, learn all the skills of a web developer and code your own web applications independently.</p>
        <div class="logo-item" style="background-image: url(<%= image_path "le_wagon_logo.png" %>)"></div>
      </div>

    </div>
    <!-- end education section-->
  </div>
</div>
