<div class="hobbies">
  <div class="hobbies-title">
    <h4>HOBBIES</h4>
  </div>
  <div class="activities" >
    <div class="activity">
      <div class="tennis">
        <%= image_tag "tennis.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Tennis</p>
    </div>
    <div class="activity">
      <div class="rugby">
        <%= image_tag "rugby.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Rugby</p>
    </div>
    <div class="activity">
      <div class="run">
        <%= image_tag "run.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Course</p>
    </div>
    <div class="activity">
      <div class="web">
       <%= image_tag "web.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Développement Web</p>
    </div>
    <div class="activity">
      <div class="social">
        <%= image_tag "social.png", class: "social-image hobby-image" %>
      </div>
      <p class="activity-name">Activités Sociales</p>
    </div>
    <div class="activity">
      <div class="travel">
        <%= image_tag "travel.png", class: "hobby-image" %>
      </div>
      <p class="activity-name">Voyages & Découvertes</p>
    </div>
  </div>
</div>
